*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: rgb(22, 157, 62);
}
body {
  font-family: "Mochiy Pop P One", sans-serif;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(1.7rem, 4vw, 3rem);
  min-height: 30vh;
  background-color: #ffde9e;
  padding: 3rem 0;
}
.logo {
  text-decoration: none;
  color: black;
  font-size: clamp(1.7rem, 4vw, 3rem);
  color: var(--green);
}
.search-form {
  display: flex;
  width: 80%;
  max-width: 50rem;
}
.search-input {
  width: 100%;
  padding: 0.4em;
  font-size: clamp(1.3rem, 4vw, 2rem);
  border: 2px solid var(--green);
}
.btn {
  border: none;
  background-color: white;
  padding: 0.5em 1em;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  cursor: pointer;
}
.btn:focus {
  outline: 2px solid var(--green);
}
.search-btn {
  background-color: var(--green);
  color: white;
  font-weight: 600;
}
.search-btn:hover,
.search-btn:focus {
  background-color: rgb(27, 105, 27);
}
